.navbar-extended {
	a, img {
		vertical-align: middle;
	}
}

.navbar-large-font {
	font-size: @baseFontSize * 1.5;
}

// .dropdown.open {
// 	.non-active {
// 		background: transparent !important;
// 	}
// }

// Font-awesomem says it does
// not break things. Lies.
@media (max-width: 979px) {
  // .navbar {
  //   .btn [class^="icon-"], .nav [class^="icon-"],
  //   .btn [class*=" icon-"], .nav [class*=" icon-"] {
  //     padding: 1px;
  //     margin: 1px;
  //   }
  // }
}

@media (max-width: 768px) {
	.navbar-inner {
		padding-left: 0 !important;
	}
}