//
// SIDEBAR
// is Bootstrap's Navbar on the side.
// Meant to be stylistically compatible
//

// Base and Wrapper
// -----------------------
.sidebar {
	overflow: visible;
	height: 100%;

	// Fix for IE7's bad z-indexing so dropdowns don't appear
	// below content that follows the navbar
	*position: relative;
	*z-index: 2;
}

// Inner wrapper for background and shadow fx.
.sidebar-inner {
	margin: 0;
	width: @sidebarWidth;
	height: 100%;
	background: @sidebarBackground;
	z-index: @zindexFixedNavbar;
	.box-shadow(@sidebarShadow);
	// prevent float from breaking sidebar
	.clearfix();

	.divider {
		width: @sidebarWidth;
		margin-left: @sidebarDividerMargin;
		margin-right: @sidebarDividerMargin;
		margin-top: @sidebarDividerMargin;
		margin-bottom: @sidebarDividerMargin;
		border-top: 2px solid @sidebarDividerColor;
		border-bottom: 2px solid lighten(@sidebarDividerColor, 15%);
	}

	.dropright { top: 0;	left: 100%; }

	.navitem {
		height: @navItemHeight;
		width: @navItemWidth;
		cursor: pointer;
		color: @gray !important;

		// Hover
		&:hover {
			opacity: 1;
			i[class^="icon-"] { color: @sidebarIconColorHover; }
			i.name { color: @sidebarTextColorHover; }
		}

		// Active
		&.active {
			opacity: 1;
			// background: @sidebarActiveBackground;
			i {
				&.name { color: @sidebarTextColorActive;}
				&[class^="icon-"]	{ color: @sidebarIconColorActive; }
			}
		}

		// Inner <a>
		.icon-button {
			display: block;
			margin-top: 0; // override <a> icons that have margin-top -4px
			padding: 0;
			width: 100%;
			height: 100%;

			// Image + Name <i>
			i, .i-text-replaced {
				display: block;
				margin: auto;
				padding: 0;
				position: relative;
				top: (@navItemSize - @navIconSize) / 4;
				color: @sidebarIconColor;

				&.name {
					font-family: @segoeLightFontFamily;
					font-size: @navItemFontSize;
					font-style: normal;
					font-weight: bold;
				}

				&[class^="icon-"]	{
					font-size: @navIconSize;
				}
			}

			// 1px type difference, but make them seem more centered.
			i { line-height: @navIconSize; }
		}
	}
}

// width is auto for default container.
// reset it for fixed sidebar
.sidebar .container { height: auto; }

// Fixed sidebar
// ------------------------
.sidebar-fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: @zindexFixedSidebar;
}

// Sidebar Badges
// -------------------------
.sidebar-badge {
	position: absolute;
	right: 12px;
}