// Global Variables on top of Bootstrap's
// You may but try not to override Bootstrap's default variables
// (instead, make modifications inside less/variables.less)

// Layout
// --------------------------

@iconMargin:      8px;

// Color Palette
// --------------------------
@mOrange:         #CB513A;
@mBlue:           #0099CC;
@mBlueDark:       #006699;
@mBrown:          #A05000;
@mGreen:          #70CA8D;
@mLime:           #BACB3D;
@mMagenta:        #FF0097;
@mPurple:         #7F809D;
@mTeal:           #00ABA9;
@mGrayTeal:       #526262;
@mRed:            #CC4F56;
@mGray:           #4D5357;
@mGrayLight:      #C1BBBE;
@mLightGray:      #DDDDDD;
@mBlack:          #1C2126;

@mGrayTealLight:  #6F9790;
@mGrayTealDark:   darken(@mGrayTealLight, 25%);

// Typography
// --------------------------
@segoeFontFamily:           "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
@segoeLightFontFamily:      "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;

// Z-index Supplemental List
// --------------------------
@zindexFixedSidebar:        1000; // above tooltips but below fixed sidebars.

// Sidebar
// ----------------------

@sidebarWidth:              90px;
@sidebarBackground:         @mBlack;

@sidebarShadow:             inset 0px 0px 1px 0px rgba(0,0,0,.5);
@sidebarActiveBorder:       1px solid darken(@sidebarBackground, 5%);
@sidebarActiveBackground:   lighten(@sidebarBackground, 5%);

@sidebarIconColor:          @mGrayLight;
@sidebarIconColorActive:    @blue;
@sidebarIconColorHover:     @blue;

@sidebarTextColorActive:    @white;
@sidebarTextColorHover:     555;

@sidebarDividerColor:       lighten(@sidebarBackground, 5%);
@sidebarDividerMargin:      @sidebarWidth * 0.15;

// Navitems
// ----------------------
@navbarPadding:             2px;

@navItemSize:               @sidebarWidth;
@navItemWidth:              @navItemSize;
@navItemHeight:             @navItemSize * (11/12);
@navIconSize:               @navItemSize * (1/3);
@navItemFontSize:           @navIconSize * (2/5);
@navIconColor:              @white;